# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# ASP.NET Core
**/appsettings.Development.json
**/appsettings.Production.json

# Visual Studio Code
.vscode/

# Build results
[Bb]in/
[Oo]bj/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Database
*.db
*.db-shm
*.db-wal

# Thumbnails
data/

# Docker env
.env
secrets/*
!secrets/.gitkeep

# LLM shit (99% of the time the info is outdated, so I don't feel like committing it)
agents/
AGENTS.md
GEMINI.md
CLAUDE.md

# Python
__pycache__/
*.pyc
*.pyo

TODO.md
