<img 
  class="absolute inset-0 w-full h-full object-contain transition-opacity duration-300 z-1"
  [class.opacity-0]="fullVisible()"
  style="filter: blur(2px)"
  [src]="thumbnailSrc()" 
  [attr.width]="width()"
  [attr.height]="height()"
  [draggable]="false"
  [alt]="alt()" />

<img 
  class="absolute inset-0 w-full h-full object-contain z-0"
  [class.opacity-0]="!fullVisible()"
  [src]="fullSrc()" 
  [alt]="alt()" 
  [attr.width]="width()"
  [attr.height]="height()"
  [draggable]="false"
  (load)="onFullLoad($event, loadToken())" />