<div class="mb-4 flex gap-1 overflow-x-auto border-b border-glass-border">
  @for (tab of tabs(); track tab.id()) {
    <a
      [routerLink]="[basePath(), tab.id()]"
      [replaceUrl]="true"
      routerLinkActive="active-tab"
      class="tab">
      @if (tab.icon()) {
        <i [class]="tab.icon()"></i>
      }
      {{ tab.label() }}
    </a>
  }
</div>

<!-- Render active tab content -->
@if (activeTab().content(); as template) {
  <ng-container *ngTemplateOutlet="template"></ng-container>
}
