.box-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.box-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.box-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

.box-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.2);
}
